$font-family-sans-serif:  "museo-sans", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$text-color: #2E3F50;
$brand-primary: #684369;
$navbar-height: 90px;
$navbar-inverse-color: #F7DBAF;
$navbar-inverse-brand-color: #F7DBAF;
$navbar-inverse-link-color: #F7DBAF;
$headings-font-family: "museo-sans-rounded", Helvetica, Arial, sans-serif;
$headings-font-weight: 300;
$navbar-inverse-toggle-hover-bg: darken($brand-primary, 10%);
$navbar-inverse-toggle-icon-bar-bg: #F7DBAF;
$navbar-inverse-toggle-border-color: #F7DBAF;
$navbar-inverse-link-active-bg: darken($brand-primary, 10%);
