$font-family-sans-serif:  "museo-sans", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$text-color: #000;
$brand-primary: #80284E;
$navbar-height: 60px;
$navbar-inverse-color: #FFF;
$navbar-inverse-brand-color: #FFF;
$navbar-inverse-link-color: #FFF;
$headings-font-family: "museo-sans-rounded", Helvetica, Arial, sans-serif;
$headings-font-weight: 300;
$navbar-inverse-toggle-hover-bg: darken($brand-primary, 10%);
$navbar-inverse-toggle-icon-bar-bg: #FFF;
$navbar-inverse-toggle-border-color: #FFF;
$navbar-inverse-link-active-bg: darken($brand-primary, 10%);
