.row.experience
  .bio.col-sm-12.col-md-10.col-md-offset-1.col-lg-9
    h2 Current
    h5 Medical Director at iLumens
    .row
      .col.col-sm-2
        img.img-responsive(src='images/ilumens-logo.png')
      .col.col-sm-8
        p iLumens is a medical simulation university center dedicated to healthcare professionals training with the latest technologies. iLumens focuses on helping individuals and teams to develop their competences such as technical skills, team work and crisis management, or patient and doctor relationship insights. 
    h5 Emergency Room Pediatrician
    .row
      .col.col-sm-2
        img.img-responsive(src='images/robert-debre.jpg')
      .col.col-sm-8
        p PHC Urgences Pédiatriques, Comité pédagogique du DU de traumatologie pédiatrique - Hôpital Robert Debré (AP-HP)
    h5 Conference Speaker
    .row
      .col.col-sm-2
      .col.col-sm-8
        p Digital Medicine, Blockchain
        | &rsaquo;&nbsp;
        | cmonteil@eppocrate.org
    h5 Founder and President of Eppocrate
    .row
      .col.col-sm-2
        a(href="https://www.facebook.com/groups/eppocrate", target='_blank')
          img.img-responsive(src='images/eppocrate.jpg')
      .col.col-sm-8
        p Eppocrate is an NGO. On Eppocrate, the medical community can share and debate the latest connected health news and discuss how they are adapting to those changes in their daily practice through a simple and caring environment. They can also interact with other members of the e-Health ecosytem to share, connect with them, and find projects they can get involved with.
        | &rsaquo;&nbsp;
        a(href="https://www.facebook.com/groups/eppocrate", target='_blank')
          | Facebook (1000+ community)
        br
        | &rsaquo;&nbsp;
        a(href="http://www.eppocrate.org", target='_blank')
          | www.eppocrate.org&nbsp;
        | (website under construction, launch expected in january 2016)

    h5 Paris Ambassador for Thousand Network
    .row
      .col.col-sm-4
        a(href="http://www.thousandnetwork.com", target='_blank')
          img.img-responsive(src='images/thousand-network.png')
      .col.col-sm-8
        p Thousand Network is a community of 900+ young people scattered across 40 cities on 5 continents. We cook up molecular gastronomy, perform pop sonatas, build social empires, and craft radical policy. We are bound by our curiosity and creativity. The world is our lab, altruism is our currency, and we prosper by aiding each other’s growth. Collectively we can do more with our time on this planet. 
        | &rsaquo;&nbsp;
        a(href="http://www.thousandnetwork.com", target='_blank')
          | www.thousandnetwork.com
    h2 Board Membership
    ul
      li
        a(href="https://www.iledefrance.fr/region-installe-conseil-numerique" target="_blank") Conseil du Numerique de la région Ile-de-France
      li Groupe de travail bi-académique "IA&Santé" dirigé par Cédric Villani et Pr Bernard Nordlinger - Académie de Médecine, Académie des Sciences
      li Comité d'Experts Indépendants du programme scientifique "Algorythm Data Ethics Label"
      li Comité de programmation de l'évènement "Education, Formation, Simulation numérique en Santé" sous la direction de Cédric Villani
      li Conseil Numérique AP-HP
      li
        a(href="http://www.canalcham.fr/fr/home" target="_blank") CHAM2016 - Scientific committee
      li
        a(href="http://www.epidemium.cc" target="_blank") Comité éthique Epidémium         
      li Membre du Groupe de Travail Big Data pour le Ministère de la Santé
      li
        a(href="http://fondation.edf.com/actualites/the-edf-corporate-foundation-strives-for-social-empowerment-308.html" target="_blank") Membre du Conseil d’Administration de la Fondation EDF pour 4 ans 2017-2020
    h2 Panel Judges
    ul
      li
        a(href="https://formation-continue.univ-paris-diderot.fr/actualites/e-sante-un-veritable-enjeu-de-formation" target="_blank") DU esanté Université Paris Diderot - octobre 2018
      li
        a(href="https://www.edf.fr/start-up/edf-pulse/actualites/finalistes-edition-2018" target="_blank") EDF Pulse 2018 - 9 octobre 2018
      li
        a(href="https://www.agorize.com/fr/challenges/epocrate3" target="_blank") Challenge E-pocrate #3 - 29 mars 2018
      li
        a(href="https://club-digital-sante.info/2017/10/tousaidants-retour-premier-hackathon-heros-ordinaires/" target="_blank") Hackathon #TousAidants - 18 octobre 2017
      li
        a(href="https://www.edf.fr/start-up/edf-pulse/projets" target="_blank") EDF pulse - 17 septembre 2017  
      li
        a(href=" http://www.prixgalien.com/fr/" target="_blank") Prix Galien e-santé - 7 décembre 2016 puis 5 décembre 2017   
      li
        a(href="http://www.doceawards.fr" target="_blank") Doc e'Awards - 29 septembre 2016    
      li
        a(href="http://www.respirhacktion.com" target="_blank") Respir Hacktion - 18 septembre 2016
      li
        a(href="https://connect.capdigital.com/evenements/VyCEUC4AAC0ACZNF" target="_blank") Nationale Formation Numérique et Santé - 30 juin 2016 
      li
        a(href=" http://ottpi.aphp.fr/apinnov-les-rencontres-de-transfert-de-technologie-de-lap-hp/" target="_blank") APinnov - 16 Juin 2015 
      li
        a(href="http://www.trophees-sante-mobile.com/trophees.php# " target="_blank") Trophées de la Santé Mobile - 8 février 2016

    h2 Other
    h5 Lauréate du concours VoxFémina 2018 "Femmes en Vue"
    h5 Cours sur la révolution des nouvelles technologies en santé
    ul
      li 
        a(href="http://engage.world/engage-project/university") Engage University - Promotion 2016, 2017, 2018
      li 
        a(href="https://formation-continue.univ-paris-diderot.fr/actualites/e-sante-un-veritable-enjeu-de-formation") DU esanté Paris Diderot - Edition 2018 - Edition 2019
      li 
        a(href="http://www.scfc.parisdescartes.fr/index.php/descartes/formations/medecine/droit-sciences-humaines-et-medecine/du-e-sante-et-medecine-connectee/(language)/fre-FR") DU esanté Paris Descartes - Edition 2017 - Edition 2019
      li 
        Certificat Parcours de santé des patients, Sciences Po, janvier 2017
      li 
        Executive Master en Gestion et Politiques de Santé, Sciences Po, juin 2015
    h2 Past
    h5 Consultant
    .row
      .col.col-sm-2
        img.img-responsive(src='images/stratumn.jpeg')
      .col.col-sm-8
        p Medical consulting for the application of blockchain to clinical trials
        | &rsaquo;&nbsp;
        a(href="http://stratumn.com", target='_blank')
          | Stratumn
    h5 Medical Director at Ad Scientiam
    a(href="http://www.adscientiam.com", target='_blank')
    img(src='images/ad-scientiam.jpg', width="50")
    p Ad Scientiam, located in the Brain and Spine Institue (ICM) in the La Pitié Salpêtrière Hospital, develops smartphone applications to monitor patients during clinical trials and clinical practice.
    | &rsaquo;&nbsp;
    a(href="http://www.adscientiam.com", target='_blank')
      | www.adscientiam.com
    h5 Journalist at Le Quotidien du Médecin - Animator
    p Animator for "Zapp' du Doc", a web show where smartphone applications targeted at primary care physicians are evaluated. Freelance journalist covering "ehealth".
    .row
      .col.col-sm-4
        a(href="http://www.lequotidiendumedecin.fr/videos/toutes-les-videos?f%5B0%5D=im_rubric%3A8409&f%5B1%5D=ss_video_type%3ALe%20Zapp%20du%20Doc", target='_blank')
          img.img-responsive(src='images/zapp-du-doc.jpg')
      .col.col-sm-8
        p
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/videos/toutes-les-videos?f%5B0%5D=im_rubric%3A8409&f%5B1%5D=ss_video_type%3ALe%20Zapp%20du%20Doc", target='_blank')
            | www.lequotidiendumedecin.fr
        p
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/06/09/episode-1-le-medicament-informations-et-pharmacovigilance_759576", target='_blank')
            | Episode 1 - Les médicaments
          br
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/07/09/episode-2-les-voyages_764901", target='_blank')
            | Episode 2 - Les voyages
          br
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/09/11/episode-3-la-peau_769296", target='_blank')
            | Episode 3 - La peau
          br
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/09/22/episode-4-les-seniors_771361", target='_blank')
            | Episode 4 - Les séniors
          br
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/10/22/episode-5-la-fertilite-feminine_777021", target='_blank')
            | Episode 5 - Fertilité féminine
          br
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/11/20/episode-6-le-diabete_781836", target='_blank')
            | Episode 6 - Le diabète
          br
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/12/16/episode-7-les-problemes-urinaires_785806", target='_blank')
            | Episode 7 - Les problèmes urinaires
          br
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2016/01/06/episode-8-les-maladies-chroniques_787886", target='_blank')
            | Episode 8 - Les Maladies Chroniques
    h5 Primary Care Physician Substitute (2013-2015)
    p Substitute for family physicians in private practices both in urban and rural areas in France
    h5 Medical Consultant (April to July 2014 and April to July 2015)
    p Medical consultant for "City and Health", an innovation project developing a new approach to health within urban areas. Partner: H4D (Health for Development - <a href="http://www.h-4-d.com" target="_blank">www.h-4-d.com</a>) . The "Centre Michel Serres" bring together interdisciplinary Master students from different backgrounds (designers, urbanists, architects, engineers, etc.) to work on present and future complex society challenges with an innovative approach. 
    h5 Primary Care Physician Residency (2010-2013)
    p Université Pierre et Marie Curie (Paris VI)
    h5 Medical School (2003-2010)
    p Faculté de Médecine Toulouse Purpan
    



