.row.experience
  .bio.col-sm-12.col-md-10.col-md-offset-1.col-lg-9
    h2 Current
    h5 Emergency Room Pediatrician
    p Robert Debré Hospital
    h5 Medical Director at Ad Scientiam
    p Ad Scientiam, located in the Brain and Spine Institue (ICM) in the La Pitié Salpêtrière Hospital, develops smartphone applications to monitor patients during clinical trials and clinical practice.
    | &rsaquo;&nbsp;
    a(href="http://www.adscientiam.com", target='_blank')
      | www.adscientiam.com
    h5 Founder and President of Eppocrate
    p Eppocrate is an NGO. On Eppocrate, the medical community can share and debate the latest connected health news and discuss how they are adapting to those changes in their daily practice through a simple and caring environment. They can also interact with other members of the e-Health ecosytem to share, connect with them, and find projects they can get involved with.
    | &rsaquo;&nbsp;
    a(href="https://www.facebook.com/groups/eppocrate", target='_blank')
      | Facebook (1000+ community)
    br
    | &rsaquo;&nbsp;
    a(href="http://www.eppocrate.org", target='_blank')
      | www.eppocrate.org&nbsp;
    | (website under construction, launch expected in january 2016)
    h5 Journalist at Le Quotidien du Médecin - Animator
    p Animator for "Zapp' du Doc", a web show where smartphone applications targeted at primary care physicians are evaluated. Freelance journalist covering "ehealth".
    .row
      .col.col-sm-5
        a(href="http://www.lequotidiendumedecin.fr", target='_blank')
          img.img-responsive(src='images/zapp-du-doc.jpg')
      .col.col-sm-7
        p
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr", target='_blank')
            | www.lequotidiendumedecin.fr
        p
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/06/09/episode-1-le-medicament-informations-et-pharmacovigilance_759576", target='_blank')
            | Episode 1 - Les médicaments
          br
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/07/09/episode-2-les-voyages_764901", target='_blank')
            | Episode 2 - Les voyages
          br
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/09/11/episode-3-la-peau_769296", target='_blank')
            | Episode 3 - La peau
          br
          | &rsaquo;&nbsp;
          a(href="http://www.lequotidiendumedecin.fr/actualites/video/partenaires/le-zapp-du-doc/2015/09/22/episode-4-les-seniors_771361", target='_blank')
            | Episode 4 - Les séniors
    h5 Journalist at Le Quotidien du Médecin - Blog
    .row
      .col.col-sm-5
        a(href="http://blog.cecilemonteil.lequotidiendumedecin.fr", target='_blank')
          img.img-responsive(src='images/blog.jpg')
      .col.col-sm-7
        p Contributing author of "E-santé : concrètement, ça veut dire quoi ?"
        p
          | &rsaquo;&nbsp;
          a(href="http://blog.cecilemonteil.lequotidiendumedecin.fr", target='_blank')
            | blog.cecilemonteil.lequotidiendumedecin.fr
    h5 Paris Ambassador for Thousand Network
    p Thousand Network is a community of 900+ young people scattered across 40 cities on 5 continents. We cook up molecular gastronomy, perform pop sonatas, build social empires, and craft radical policy. We are bound by our curiosity and creativity. The world is our lab, altruism is our currency, and we prosper by aiding each other’s growth. Collectively we can do more with our time on this planet. 
    | &rsaquo;&nbsp;
    a(href="http://www.thousandnetwork.com", target='_blank')
      | www.thousandnetwork.com
    h2 Past
    h5 Primary Care Physician Substitute (2013-2015)
    p Substitute for family physicians in private practices both in urban and rural areas in France
    h5 Medical Consultant (April to July 2014 and April to July 2015)
    p Medical consultant for "City and Health", an innovation project developing a new approach to health within urban areas. Partner: H4D (Health for Development - <a href="http://www.h-4-d.com" target="_blank">www.h-4-d.com</a>) . The "Centre Michel Serres" bring together interdisciplinary Master students from different backgrounds (designers, urbanists, architects, engineers, etc.) to work on present and future complex society challenges with an innovative approach. 
    h5 Primary Care Physician Residency (2010-2013)
    p Université Pierre et Marie Curie (Paris VI)
    h5 Medical School (2003-2010)
    p Faculté de Médecine Toulouse Purpan
    h2 Other
    h5 Executive Master en Gestion et Politiques de Santé (June 2015)
    p Sciences Po - Paris <br> Class covering ehealth topics
    h2 Board Membership
    ul
      li Conseil Numérique AP-HP (Digital Council)
      li Comité éthique Epidémium (Ethical Committee)
