.row
  .photo.pull-right.col-xs-4.hidden-xs
    img.img-responsive(src='images/cecile-is-cute.jpg')
  .bio.col-sm-8.col-md-6.col-md-offset-1.col-lg-6
    h1 Bio
    p.lead Emergency Room Pediatrician and Startup Entrepreneur
    img.img-responsive.visible-xs(src='/images/cecile-is-cute.jpg')
    p
      | Dr. Cécile Monteil is an entrepreneur and physician, who advocates for the beneficial use of new technologies applied to health and medicine while keeping the patient and doctor relationship at heart.
    p
      | Cécile is a physician working part-time in the Pediatric Emergency Room department of Robert Debré Hospital in Paris, as well as a ehealth expert.
    p
      | At the beginning of 2015, she founded 
      a(href='http://www.eppocrate.org/', target='_blank') Eppocrate
      | , an NGO devoted to bridging the gap between the French physician community and the digital healthcare ecosystem.   Today, the community gathers more than 1800+ members and has become a reference in that space. 
    p
      | She is a regular conference speaker, a blogger, and works with innovative start-ups  bringing new ideas to medicine such as Blockchain in healthcare !
    p
      | As an ambassador for the 
      a(href='http://thousandnetwork.com/', target='_blank') Thousand Network
      |  in Paris, a global community of 1000+ entrepreneurs, she facilitates knowledge and experience sharing among people.
